.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin:50px 0px; padding:0px;
  text-align:center;
  align:center;
}

/* Login */
.card {
  border: 3px solid #f1f1f1;
  width: 50%;
  display: inline-block;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* List Articles*/
.container {
  display: inline-grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-gap: 3rem;
  grid-auto-flow: row;
}
.item {
  border-color: black;
  border-style: dashed;
  width: 100%;
}
.newItem{
  border-color: black;
  border-style: dashed;
  width: 50%;
  display: inline-grid;
}